<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<section>
    <h1>This is new About section</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores aspernatur blanditiis cumque debitis,
       est inventore natus nulla numquam, obcaecati quae quas quibusdam quis, quod recusandae repudiandae sed sint
       soluta veniam voluptatum. Asperiores at distinctio exercitationem hic magnam officiis quasi, voluptatibus.
       Delectus est, laboriosam minus mollitia natus perspiciatis repellat voluptatibus.</p>
</section>

</body>
</html>
