<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
</head>
<body>

<section>
    <h1>Contact Details</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque ratione tenetur? Natus, neque
       reprehenderit. Ab amet architecto dignissimos dolores enim facere hic incidunt inventore ipsa labore, minima,
       minus nobis nulla odit quaerat quasi quis quos sapiente sint veritatis. Architecto atque consectetur dolores
       exercitationem laborum non, quo suscipit ut veniam. Aspernatur distinctio nemo quas! Ab ad culpa cupiditate
       inventore maxime nulla possimus quis similique sit. Autem placeat quasi similique tempore vero! Accusantium
       adipisci asperiores at dicta dolorem eligendi esse est eum ex fugit incidunt ipsum labore laudantium magnam minus
       molestiae non numquam odit pariatur quae, quo quod sed temporibus velit.</p>
</section>

</body>
</html>
