<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Footer Template</title>
</head>
<body>

	<footer id="fragmentTag" th:fragment="footer1">
		<div class="container" >
			<h1>About Learn Code with Mahesh</h1>
			<h2>Provide Good content about Programming</h2>
			<h3>Feel free to contact and work with me</h3>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
				sed arcu nec elit feugiat volutpat eu sit amet dui. Curabitur
				iaculis dictum malesuada. Duis egestas lorem sit amet nisl porta
				pretium. Sed consequat efficitur justo venenatis porta. Fusce
				pharetra laoreet lectus in dignissim. Donec facilisis sagittis
				tortor in commodo. Donec.</p>

		</div>
	</footer>

</body>
</html>